body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

canvas {
    background-color: black;
}

#startScreen,
#endScreen {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 0;
}

#startScreen:hover {
    cursor: pointer;
}

.d-none {
    display: none;
}

.key-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 720px;
    margin-top: 20px;
}