body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('img/9.Intro _ Outro Image/Start Screen/desert-5058612_1920.jpg');
    background-size: cover;
}

canvas {
    background-color: black;
    display: block;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
}

#startScreen,
#endScreen {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 0;
}

h3 {
    color: white;
    font-size: 20px;
}

.d-none {
    display: none !important;
}

.key-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 720px;
    margin-top: 20px;
}

.btn-cont {
    position: relative;
    top: 445px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.btn {
    position: absolute;
    width: 160px;
    height: 50px;
    background-color: #ffcf10b2;
    border: navajowhite;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    font-size: 16px;
}

.btn a {
    text-decoration: none;
    color: black;
}

.btn:hover {
    transition: 225ms ease-in-out;
    background-color: #ffcf10e0;
}

.winScreen {
    position: absolute;
    width: 720px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    color: #ffcd00;
}

.btn-full {
    width: 160px;
    height: 50px;
    background-color: #ffcf10;
    border: navajowhite;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    font-size: 16px;
}

.btn-full:hover {
    transition: 225ms ease-in-out;
    background-color: #b49000;
}


/*Smartphone keys*/

.smartphone {
    position: relative;
    display: none;
}

.left-run,
.right-run,
.jump,
.bottel {
    position: absolute;
    font-size: 30px;
    background-color: white;
    border-radius: 100%;
    padding: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: center;
}

.left-run {
    top: -150px;
    left: -300px;
}

.right-run {
    top: -70px;
    left: -300px;
}

.jump {
    top: -150px;
    left: 280px;
}

.bottel {
    top: -70px;
    left: 280px;
}

.bottel-icon {
    width: 40px;
    transform: rotate(30deg);
}


/*Smartphone*/

@media only screen and (max-width: 720px) {
    canvas,
    .container {
        width: 100%;
    }
    .responsvie {
        display: none;
    }
    .key-details {
        display: none;
    }
    .btn {
        top: -126px;
    }
    #startScreen {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas,
    .container {
        height: 100vh;
    }
    #startScreen {
        height: 100vh;
    }
    .smartphone {
        display: block;
    }
}