body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('img/9.Intro _ Outro Image/Start Screen/desert-5058612_1920.jpg');
    background-size: cover;
}

canvas {
    background-color: black;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
}

#startScreen,
#endScreen {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 0;
}

.d-none {
    display: none !important;
}

.key-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 720px;
    margin-top: 20px;
}

.btn-cont {
    position: relative;
    top: 445px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    position: absolute;
    width: 160px;
    height: 50px;
    background-color: #ffcf10b2;
    border: navajowhite;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    font-size: 16px;
}

.btn:hover {
    transition: 225ms ease-in-out;
    background-color: #ffcf10e0;
    transform: translateY(-12px);
    box-shadow: 5px 10px 3px 0px #ffcf10b2;
}

.winScreen {
    position: absolute;
    width: 720px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    color: #ffcd00;
}